*.s9pk
scripts/embassy.js
.vscode/
docker-images/
.DS_Store
scripts/.DS_Store
# build artifacts
*.s9pk
docker-images/
scripts/*.js

# rust
configurator/target/
health-check/target/

# misc
*.log
.env
